﻿@model ProductViewModel

<table>
    @foreach (var item in ViewBag.ListOfProducts)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td> <a href="@Url.Action("Add","AddToCart")" class="btn btn-info">Add To cart</a></td>   

        </tr>
    }

   
</table>