﻿@model UserViewmodel
@{
    ViewData["Title"] = "Index";

 }

<div>

    <form asp-controller="User" asp-action="Index" method="post" role="form">
        <div class="" form-group>
            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
            <label asp-for="UserId"></label>
            <select asp-for="UserId" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfUsers,"Value","Text"))">
                <option value="value">Users</option>
            </select>
        </div>
        <partial name="~/Views/Shared/_PartialProducts.cshtml" />
        <div class="form-group">
            <input id="Submit" class="btn btn-success" type="submit" name="name" value="Submit" />
        </div>
    </form>


</div>